<a href="https://colab.research.google.com/github/efrizaanngi/Anggi/blob/main/efrizaanggie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
listkota = ['Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo', 'Jogjakarta', 'Semarang', 'Makasar']
for kota in listkota:
  print(kota)

Jakarta
Surabaya
Depok
Bekasi
Solo
Jogjakarta
Semarang
Makasar

In [ ]:
listkota = ['Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo', 'Jogjakarta', 'Semarang', 'Makasar']
for i, kota in enumerate(listkota):
  print(i, kota)

0 Jakarta
1 Surabaya
2 Depok
3 Bekasi
4 Solo
5 Jogjakarta
6 Semarang
7 Makasar

In [ ]:
## 0 sampai 4
for i in range(5):
  print("perulangan ke -", i)

perulangan ke - 0
perulangan ke - 1
perulangan ke - 2
perulangan ke - 3
perulangan ke - 4

In [ ]:
## 10 sampai 15
for i in range(10, 16):
  print('i =', i)

i = 10
i = 11
i = 12
i = 13
i = 14
i = 15

In [ ]:
## Bilangan genap kelipatan 2
for i in range(2, 12, 2):
  print('i =', i)

i = 2
i = 4
i = 6
i = 8
i = 10

In [ ]:
## Bilangan ganjil kelipatan 2
for bilangan_ganjil in range(1, 12, 2):
  print(bilangan_ganjil)

1
3
5
7
9
11

In [ ]:
tupleBuah = ('Mangga', 'Jeruk', 'Apel', 'Pepaya')
for buah in tupleBuah:
  print(buah)

Mangga
Jeruk
Apel
Pepaya

In [ ]:
for karakter in "IndonesiaID":
  print(karakter)

I
n
d
o
n
e
s
i
a
I
D

In [ ]:
for i in range(10, 20):
  # skip jika i == 15
  if (i == 15):
    continue

  print(i)

10
11
12
13
14
16
17
18
19

In [ ]:
for i in range(10, 20):
  # hentikan jika i == 15
  if (i == 15):
    break

  print(i)

10
11
12
13
14

In [ ]:
listkota = ['Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo', 'Jogjakarta', 'Semarang', 'Makasar']
for kota in listkota:
  print(kota)
else:
    print('Tidak ada lagi item yang tersisa')

Jakarta
Surabaya
Depok
Bekasi
Solo
Jogjakarta
Semarang
Makasar
Tidak ada lagi item yang tersisa

In [ ]:
listkota = ['Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo', 'Jogjakarta', 'Semarang', 'Makasar']
kotaYangDicari = input('Ketik nama kota yang kamu cari: ')
for i, kota in enumerate(listkota):
  # kita ubah katanya ke Lowecase agar
  # menjadi case insensitive
  if kota.lower() == kotaYangDicari.lower():
    print('kota yang anda cari berada pada indeks', i)
    break
  else:
    print('Maaf, kota yang anda cari tidak ada')

Ketik nama kota yang kamu cari: Solo
Maaf, kota yang anda cari tidak ada
Maaf, kota yang anda cari tidak ada
Maaf, kota yang anda cari tidak ada
Maaf, kota yang anda cari tidak ada
kota yang anda cari berada pada indeks 4