<a href="https://colab.research.google.com/github/efrizaanngi/Anggi/blob/main/tugas%20implementasi%20operator%20python%2010Nov%20efriza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Operator Aritmatika
a, b = 10, 3

In [3]:
print(a, '+', b, '=', a + b)

10 + 3 = 13

In [4]:
print(a, '_', b, '=', a - b)

10 _ 3 = 7

In [5]:
print(a, '*', b, '=', a * b)

10 * 3 = 30

In [6]:
print(a, '/', b, '=', a / b)

10 / 3 = 3.3333333333333335

In [7]:
print(a, '%', b, '=', b, '=', a % b)

10 % 3 = 3 = 1

In [8]:
print(a, '**', b, '=', a  ** b)

10 ** 3 = 1000

In [9]:
print(a, '//', b, '=', b, '=', a //b)

10 // 3 = 3 = 3

In [10]:
# Operator komparasi atau perbandingan
a, b = 5, 10

In [11]:
print(a, '>', b, '=', a > b)

5 > 10 = False

In [12]:
print(a, '<', b, '=', a < b)

5 < 10 = True

In [13]:
print(a, '==', b, '=', a == b)

5 == 10 = False

In [14]:
print(a, '!=', b, '=', a != b)

5 != 10 = True

In [15]:
print(a, '>=', b, '=', a >= b)

5 >= 10 = False

In [16]:
print(a, '<=', b, '=', a <= b)

5 <= 10 = True

In [17]:
# penugasan pertama

In [18]:
a  = 10
print('a = 10 ->', a)

a = 10 -> 10

In [19]:
a += 5
print('a += 5 ->', a)

a += 5 -> 15

In [20]:
a -= 3
print('a -= 3 ->', a)

a -= 3 -> 12

In [21]:
a *= 6
print('a *= 6 ->', a)

a *= 6 -> 72

In [22]:
a /= 8
print('a /= 8 ->', a)

a /= 8 -> 9.0

In [23]:
# karena a jadi float, kita ubah lagi menjadi integer
a = int(a)

In [24]:
a %= 9
print('a %= 9 ->', a)

a %= 9 -> 0

In [25]:
a //= 6
print('a //= 6 ->', a)

a //= 6 -> 0

In [26]:
a **= 1
print('a **= 1 ->', a)

a **= 1 -> 0

In [27]:
# operator logika

In [28]:
print(True and True)

True

In [29]:
print(1 + 2 == 3 and True)

True

In [30]:
print('----')

----

In [31]:
print(False or 1 > 5)

False

In [32]:
print(False or 5 > 2)

True

In [33]:
print('----')

----

In [34]:
print(not(1 > 5))

True

In [35]:
print(not(1 < 5))

False

In [36]:
# operator keanggotaan

In [39]:
perusahaan = 'Microsoft'
list_pulau = ['Jawa', 'Sumatra', 'Sulawesi']

In [43]:
# ini adalah dictionary, insyaallah akan kita pelajari
# di pertemuan-pertemuan yang akan datang
mahasiswa = {
    'nama' : 'Lendis Fabri',
    'asal' : 'Lamogan'
}

In [44]:
print(
    "Apakah 'c' ada di variabel perusahaan?",
    'c' in perusahaan
)

Apakah 'c' ada di variabel perusahaan? True

In [47]:
print(
    "Apakah 'z'   tidak ada variabel perusahaan",
    'c' not in perusahaan
)

Apakah 'z'   tidak ada variabel perusahaan False

In [49]:
print(
    "Apakah 'Madura' tidak ada di variabel list_pulau?",
    'nama' not in perusahaan
)

Apakah 'Madura' tidak ada di variabel list_pulau? True

In [50]:
print(
    "Apakah atribut 'nama' ada di variabel mahasiswa?",
    'nama' in mahasiswa
)

Apakah atribut 'nama' ada di variabel mahasiswa? True

In [51]:
# operator identitas

In [53]:
a = 5
b = 5
nama_a = 'budi'
nama_b = 'budi'

In [54]:
# output True
print('a is b:', a is b)
# output False
print('a is not b:', a is not b)

a is b: True
a is not b: False

In [55]:
# output True
print('nama_a is nama_b:', nama_a is nama_b)
# output False
print('nama_a is not namma_b:', nama_a is not nama_b)

nama_a is nama_b: True
nama_a is not namma_b: False